$--colors: (
        "primary": (
                "base": #FFC200,
        ),
        "success": (
                "base": #21ba45,
        ),
        "warning": (
                "base": #f2711c,
        ),
        "danger": (
                "base": #f55555,
        ),
        "error": (
                "base": #db2828,
        ),
        "info": (
                "base": #6d75ee,
        )
);

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  // do not use same name, it will override.
  $colors: $--colors,
  $button-padding-horizontal: ("default": 50px)
);

@use "element-plus/theme-chalk/src/index.scss" as *;
